body {
  background: lightblue;
}
h1 {
  color: black;
  text-align: center;
}
h3 {
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  margin: 10px;
  color: black;
}
#picture {
  margin-top: 5px;
}
